<div id="<%= dom_id emergency_contact %>">
  <p>
    <strong>Guardian name:</strong>
    <%= emergency_contact.guardian_name %>
  </p>

  <p>
    <strong>Guardian relation:</strong>
    <%= emergency_contact.guardian_relation %>
  </p>

  <p>
    <strong>Guardian phone:</strong>
    <%= emergency_contact.guardian_phone %>
  </p>
</div>
