<div id="<%= dom_id emergency_contact %>">
  <p>
    <strong>Gardian name:</strong>
    <%= emergency_contact.gardian_name %>
  </p>

  <p>
    <strong>Gardian relation:</strong>
    <%= emergency_contact.gardian_relation %>
  </p>

  <p>
    <strong>Gardian phone:</strong>
    <%= emergency_contact.gardian_phone %>
  </p>
</div>
